<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ContentSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ContentSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ContentSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://smsc.sendega.com/Content.asmx" binding="basicHttpBinding"
                bindingConfiguration="ContentSoap" contract="com.sendega.smsc.ContentSoap"
                name="ContentSoap" />
            <endpoint address="https://smsc.sendega.com/Content.asmx" binding="customBinding"
                bindingConfiguration="ContentSoap12" contract="com.sendega.smsc.ContentSoap"
                name="ContentSoap12" />
        </client>
    </system.serviceModel>
</configuration>